In [196]:
# in this code i add kids feature and birthday feature
# I also filtered out unnecessary items from category 2

In [197]:
# full script: 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

def filter_titles(title):
    if "extra" in title:
        return False
    elif "add" in title:
        return False
    elif "sauce" in title:
        return False
    elif "no " in title:
        return False
    elif "no." in title:
        return False
    elif "-no " in title:
        return False
    elif "side " in title:
        return False
    elif "+" in title:
        return False
    elif "dip" in title:
        return False
    elif "blue cheese" in title:
        return False
    elif "bbq" in title:
        return False
    elif "n/c" in title:
        return False
    elif "s/o" in title:
        return False
    elif title == '' or title == 'garlic.aioli' or title == 'gluten' or title == 'hot n honey' or title == 'honey garlic' or title == 'kids.' or title == 'to go':
        return False
    else:
        return True

df = pd.read_csv("data/df_july.csv")
df['order_time'] = pd.to_datetime(df['order_time'], format='%Y-%m-%d %H:%M:%S.%f')
df.drop("country",axis=1,inplace=True) # only single country, no need
df = df[df["bar_type"]!= "Night Club"] # only 83 rows from Night Club 
df.drop(["data_availability_status_id","is_bulk","status","last_status","state","state_id","waiter_id","country_id"],axis=1,inplace=True) # only single country, no need
df = df.loc[df.city == "Toronto"] #choose only Toronto city and only category 5
# remove unnecessary characters from title
whitelist = set('.abcdefghijklmnopqrstuvwxyz \\//')
df["title"] = df["title"].apply(lambda x: ''.join(filter(whitelist.__contains__ ,x.lower())))
df["kids_meal"] = df.title.apply(lambda x: 1 if 'kid' in x else 0)
df["birthday"] = df.title.apply(lambda x: 1 if 'birthday' in x else 0)
df = df[~((df['category_id'] == 2) & (df['title'].map(filter_titles) == False))]

In [173]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [174]:
df = pd.read_csv("data/df_july.csv")

In [175]:
df['order_time'] = pd.to_datetime(df['order_time'], format='%Y-%m-%d %H:%M:%S.%f')

In [176]:
df.drop("country",axis=1,inplace=True) # only single country, no need
df = df[df["bar_type"]!= "Night Club"] # only 83 rows from Night Club 
df.drop(["data_availability_status_id","is_bulk","status","last_status","state","state_id","waiter_id","country_id"],axis=1,inplace=True) # only single country, no need
df = df.loc[df.city == "Toronto"] #choose only Toronto city and only category 5

In [177]:
# remove unnecessary characters from title
whitelist = set('.abcdefghijklmnopqrstuvwxyz \\//')
df["title"] = df["title"].apply(lambda x: ''.join(filter(whitelist.__contains__ ,x.lower())))

In [178]:
df["kids_meal"] = df.title.apply(lambda x: 1 if 'kid' in x else 0)
df["birthday"] = df.title.apply(lambda x: 1 if 'birthday' in x else 0)

In [179]:
print(df.kids_meal.sum())
print(df.birthday.sum())

6046
322

In [180]:
df_category2 = df.loc[df.category_id == 2] #choose only category 2

In [181]:
print(df_category2.shape)
df_category2.head()

(152031, 19)

,city,bar_id,order_id,order_time,order_item_id,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,item_qty,sales_before_tax,sales_inc_tax,guest_count,timezone,bar_type_id,bar_type,kids_meal,birthday
76,Toronto,17125,649947220,2019-07-18 12:46:00,64994722005,bbq chick sandw,2.0,0,0,0.0,1.0,16.000000,18.079234,8,America/Toronto,1,Bar/Pub,0,0
90,Toronto,3379,650212816,2019-07-18 20:49:39,65021281601,standard greek salad,2.0,0,0,0.0,1.0,11.999999,13.561708,0,America/Toronto,1,Bar/Pub,0,0
139,Toronto,17125,649881063,2019-07-18 11:43:00,64988106300,fish tacos,2.0,0,0,0.0,1.0,14.000000,15.820000,3,America/Toronto,1,Bar/Pub,0,0
178,Toronto,3379,650228446,2019-07-18 21:42:34,65022844604,chicken fingers,2.0,0,0,0.0,1.0,15.000000,16.950000,0,America/Toronto,1,Bar/Pub,0,0
179,Toronto,17125,650253837,2019-07-18 20:45:00,65025383700,fish tacos,2.0,0,0,0.0,1.0,14.000000,15.820000,1,America/Toronto,1,Bar/Pub,0,0

In [ ]:
# glasses, over medium,poached medium, spicy,.grain.rice, allergy,sauce, add,garlic.aioli
# birthday!!!!!!!!!!!,bucket of ice, grilled chicken, free togo, do not make, dressing on side, happy birthday,
# hot

In [182]:
# Extra, Add, cost>0, SAUCE, -NO , sauce, Side,SIDE????, s/o, +, n/c
def filter_titles(title):
    if "extra" in title:
        return False
    elif "add" in title:
        return False
    elif "sauce" in title:
        return False
    elif "no " in title:
        return False
    elif "no." in title:
        return False
    elif "-no " in title:
        return False
    elif "side " in title:
        return False
    elif "+" in title:
        return False
    elif "dip" in title:
        return False
    elif "blue cheese" in title:
        return False
    elif "bbq" in title:
        return False
    elif "n/c" in title:
        return False
    elif "s/o" in title:
        return False
    elif title == '' or title == 'garlic.aioli' or title == 'gluten' or title == 'hot n honey' or title == 'honey garlic' or title == 'kids.' or title == 'to go':
        return False
    else:
        return True

In [184]:
df_new = df_category2[df_category2['title'].map(filter_titles) == True]
df_new.shape

(132584, 19)

In [185]:
# x2 = df_new.groupby(["title", "sales_inc_tax"]).size().reset_index(name="num_orders")

In [186]:
# df_new.groupby(["title", "sales_inc_tax"]).size().reset_index(name="num_orders")

In [195]:
newst = df[~((df['category_id'] == 2) & (df['title'].map(filter_titles) == False))]
# print(newst.shape)
# print(df.shape)
# newst.loc[newst.category_id == 2].head(20)

(301358, 19)
(320805, 19)

,city,bar_id,order_id,order_time,order_item_id,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,item_qty,sales_before_tax,sales_inc_tax,guest_count,timezone,bar_type_id,bar_type,kids_meal,birthday
90,Toronto,3379,650212816,2019-07-18 20:49:39,65021281601,standard greek salad,2.0,0,0,0.0,1.0,11.999999,13.561708,0,America/Toronto,1,Bar/Pub,0,0
139,Toronto,17125,649881063,2019-07-18 11:43:00,64988106300,fish tacos,2.0,0,0,0.0,1.0,14.000000,15.820000,3,America/Toronto,1,Bar/Pub,0,0
178,Toronto,3379,650228446,2019-07-18 21:42:34,65022844604,chicken fingers,2.0,0,0,0.0,1.0,15.000000,16.950000,0,America/Toronto,1,Bar/Pub,0,0
179,Toronto,17125,650253837,2019-07-18 20:45:00,65025383700,fish tacos,2.0,0,0,0.0,1.0,14.000000,15.820000,1,America/Toronto,1,Bar/Pub,0,0
197,Toronto,17125,649947226,2019-07-18 14:39:00,64994722600,sampler platter,2.0,0,0,0.0,1.0,24.000000,27.120000,1,America/Toronto,1,Bar/Pub,0,0
251,Toronto,3379,650192951,2019-07-18 19:43:36,65019295102,cheddar,2.0,0,0,0.0,1.0,1.000000,1.130002,0,America/Toronto,1,Bar/Pub,0,0
255,Toronto,3379,650192951,2019-07-18 19:43:36,65019295101,hurriburger,2.0,0,0,0.0,1.0,14.999998,16.950035,0,America/Toronto,1,Bar/Pub,0,0
343,Toronto,17125,649928857,2019-07-18 11:45:00,64992885701,cobb salad,2.0,0,0,0.0,1.0,15.000000,16.950000,10,America/Toronto,1,Bar/Pub,0,0
429,Toronto,17125,650166732,2019-07-18 16:38:00,65016673202,beef vindaloo,2.0,0,0,0.0,1.0,21.000000,23.730000,3,America/Toronto,1,Bar/Pub,0,0
431,Toronto,17125,650166732,2019-07-18 16:38:00,65016673206,. oyster,2.0,0,0,0.0,6.0,9.000000,10.170000,3,America/Toronto,1,Bar/Pub,0,0
432,Toronto,17125,650166732,2019-07-18 16:38:00,65016673205,. oyster,2.0,0,0,0.0,6.0,9.000000,10.170000,3,America/Toronto,1,Bar/Pub,0,0
433,Toronto,17125,650166732,2019-07-18 16:38:00,65016673204,. oyster,2.0,0,0,0.0,6.0,9.000000,10.170000,3,America/Toronto,1,Bar/Pub,0,0
435,Toronto,17125,650166732,2019-07-18 16:38:00,65016673203,cajun calamari,2.0,0,0,0.0,1.0,6.500000,7.345000,3,America/Toronto,1,Bar/Pub,0,0
456,Toronto,17125,650332162,2019-07-18 23:04:00,65033216202,twelve wings,2.0,0,0,0.0,1.0,22.500000,25.425000,5,America/Toronto,1,Bar/Pub,0,0
471,Toronto,17125,650397381,2019-07-19 01:28:00,65039738100,ribs wings,2.0,0,0,0.0,1.0,20.000000,22.603291,6,America/Toronto,1,Bar/Pub,0,0
483,Toronto,17125,649936927,2019-07-18 12:50:00,64993692701,chkn clubhouse,2.0,0,0,0.0,1.0,15.000000,16.950000,2,America/Toronto,1,Bar/Pub,0,0
484,Toronto,17125,649936927,2019-07-18 12:50:00,64993692703,buf chic salad,2.0,0,0,0.0,1.0,15.000000,16.950000,2,America/Toronto,1,Bar/Pub,0,0
504,Toronto,17125,650253819,2019-07-18 19:38:00,65025381903,eight wings,2.0,0,0,0.0,1.0,15.000000,16.949740,3,America/Toronto,1,Bar/Pub,0,0
520,Toronto,1279,650156303,2019-07-18 12:42:00,65015630302,kitchen.brownie,2.0,0,0,0.0,0.5,4.250000,4.802306,1,America/Toronto,10,Casual Dining,0,0
521,Toronto,1279,650156303,2019-07-18 12:42:00,65015630301,asiago.bowtie,2.0,0,0,0.0,1.0,19.990000,22.587786,1,America/Toronto,10,Casual Dining,0,0